.report-block {
    background-color:rgb(255, 255, 255);
    margin: auto;
    width: 45%;
    font-size: 0.9rem;
    color:black;
    text-align: left;
    border-radius: 5px;
    align-items: center;
    min-width: 80px;
}

.report-block h5 {
    padding-top: 0.6rem;
    text-align: center;
}

.report-list {
    list-style: none;
    padding: 0.2em 1.2em;
}

.report-list li {
    position: relative;
    list-style-type: none;
    padding-left: 1.3rem;
    margin-bottom: 0.2rem;
}

.report-list .cross-list-element:before {
    content: '\2716';  /* Cross */
    color: red;
}

.report-list .tick-list-element:before {
    content: '\2713';  /* Tick */
    color:rgb(41, 245, 20);
}

.report-list li:before {
    position: absolute;
    left: 0;
    width: 2em;
    height: 2em;
}

.info-block {
    float: right;
    font-style: italic;
}

.trigger {
    width: 100%;
    font-size: 1em;
    align-items: center;
    padding: 0.1rem;
    min-height: 20px;
    border: 2px solid #3ecf8e;
    border-radius: 3px;
    background-color: transparent;
    color: #212121;
}

.trigger:focus {
    border: 2px solid rgb(11, 14, 192);
    outline: 0;
}

