.message_container {
    border: 1px solid #f2f2f2;
    height: 280px;
    border-radius: 20px;
    background: #fff;
}

.message_header {
    background: rgb(6, 185, 51);
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.message_check {
    margin: 0px auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.message_check i {
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
}

.message_content {
    text-align: center;
}

.message_content h1 {
    font-size: 25px;
    padding-top: 25px;
}

.message_content a {
    width: 200px;
    height: 35px;
    color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    background: rgb(9, 12, 206);
    transition: all ease-in-out 0.3s;
}

.message_content a:hover {
    text-decoration: none;
    background: #000;
}