.payment-content {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}

.payment-header {
    font-size: 2.5em;
    margin: auto;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.link-block {
    display: block;
    text-align: center;
}

.link-header {
    font-size: 2em;
    margin: auto;
    font-weight: bold;
    color: #fff;
}


.link-text {
    font-size: 1em;
    color: #fff;
}

.a_link {
    border-radius: 4px;
    background: transparent;
    padding: 10px 22px;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin: 10px;
}

.a_link:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;;
}

.new_invoice_btn {
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin: 5px;
}

.new_invoice_btn:hover {
    transition: all 0.2s ease-in-out;
    outline: none;
    color: #ffd106;;
}